<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <!-- Navigation-->

    <%- include('layouts/navbar'); -%>

    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url(&quot;/assets/img/contact-bg.jpg&quot;)"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>Account Registration</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p>Create a new account for posting:</p>
            <div class="my-5">
              <!-- * * * * * * * * * * * * * * *-->
              <!-- * * SB Forms Contact Form * *-->
              <!-- * * * * * * * * * * * * * * *-->
              <!-- This form is pre-integrated with SB Forms.-->
              <!-- To make this form functional, sign up at-->
              <!-- https://startbootstrap.com/solution/contact-forms-->
              <!-- to get an API token!-->
              <form
                id="contactForm"
                action="/users/register"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="username"
                    type="text"
                    placeholder="Enter Username here..."
                    data-sb-validations="required"
                    name="username"
                  />
                  <label for="username">Username</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="Username:required"
                  >
                    A valid Username is required...
                  </div>
                </div>

                <div class="form-floating">
                  <input
                    class="form-control"
                    id="password"
                    type="password"
                    placeholder="Password"
                    data-sb-validations="required"
                    name="password"
                  />
                  <label for="password">Password</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="Password:required"
                  >
                    A valid Password is required...
                  </div>
                </div>

                <!-- <div class="form-floating">
                  <textarea
                    class="form-control"
                    id="body"
                    placeholder="Enter your post here..."
                    style="height: 12rem"
                    data-sb-validations="required"
                    name="body"
                  ></textarea>
                  <label for="body">Blog Body</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="body:required"
                  >
                    A body is required.
                  </div>
                </div> -->

                <!-- <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Upload an Image for your post here:</label>
                     
                    <input
                      type="file"
                      class="form-control"
                      id="image"
                      name="image"
                    />
                  </div>
                </div> -->

                <br />

                <!-- Submit Button-->
                <button
                  class="btn btn-primary text-uppercase"
                  id="registerButton"
                  type="submit"
                >
                  Register
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer-->

    <%- include('layouts/footer'); -%>

    <!-- Scripts-->

    <%- include('layouts/scripts'); -%>
  </body>
</html>
